html {
  background: #f8f7f4 url(../images/background.png);
}

.container {
  margin: 0 auto;
  width: 940px;
}

header {
  background: url(../images/header.png);
  height: 72px;
  margin: 32px 0 60px 0;
  position: relative;
  text-align: center;
}

header ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

header ul.left {
  padding-right: 52px;
  text-align: right;
}

header ul.right {
  padding-left: 52px;
  text-align: left;
}

header li {
  display: inline;
  margin: 0 15px;
  line-height: 72px;
  list-style: none;
}

header a {
  color: #b2afa9;
  text-decoration: none;
}

header a.active {
  color: #000;
}

header img {
  left: 50%;
  margin-left: -52px;
  margin-top: -22px;
  position: absolute;
  top: 0;
  vertical-align: top;
}

footer {
  background: #b2afa9;
  clear: both;
  font-size: 14px;
  overflow: hidden;
}

footer ul {
  float: left;
  margin: 0;
}

footer li {
  float: left;
  list-style: none;
  margin: 0 19px 0 0;
}

footer a {
  color: #d9d7d3;
  line-height: 62px;
  text-decoration: none;
}

footer a.active {
  color: #fff;
}

footer p {
  color: #d9d7d3;
  float: right;
  line-height: 62px;
  margin: 0;
}

#hero {
  background: url(../images/hero.jpg);
  border-radius: 5px;
  height: 477px;
}

#hero h1 {
  color: #fff;
  font-size: 39px;
  margin: 0;
  padding: 320px 0 0 0;
  text-align: center;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
}

#hero p {
  color: #fff;
  margin: 0 0 15px 0;
  opacity: 0.9;
  text-align: center;
  text-shadow: 0px 1px 2px #000;
}

#hero .call-to-action {
  text-align: center;
}

#hero .call-to-action * {
  vertical-align: middle;
}

#hero .call-to-action span {
  background: rgba(178, 175, 169, .75);
  border-radius: 25px;
  color: rgba(255, 255, 255, .75);
  display: inline-block;
  font-size: 12px;
  height: 29px;
  line-height: 29px;
  margin: 0 5px;
  text-align: center;
  width: 29px;
}

#adya {
  border-bottom: 1px solid #eceae8;
  margin-bottom: 72px;
  overflow: hidden;
}

#adya .container {
  min-height: 285px;
  padding-top: 70px;
  position: relative;
}

#adya h1 {
  color: #232322;
  font-size: 26px;
  font-weight: 300;
}

#adya h1 span {
  color: #b2afa9;
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}

#adya p {
  color: #7c7870;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  width: 550px;
}

#adya img {
  bottom: 0;
  right: -185px;
  position: absolute;
  vertical-align: bottom;
}


#tours h1 {
  color: #232322;
  font-size: 28px;
  margin: 0 0 21px 0;
  text-align: center;
}

#tours h1 strong {
  color: #b2afa9;
  font-weight: 300;
}

#tours table {
  background: #fbfbfa;
  border-radius: 5px;
  color: #7c7870;
  margin: 0 auto 108px auto;
}

#tours table tr {
  padding: 0 25px;
}

#tours thead {
  font-size: 12px;
  line-height: 45px;
}

#tours thead td:first-child {
  padding-left: 25px;
}

#tours tbody tr {
  border-top: 1px solid #eaeae8;
  font-size: 14px;
  height: 62px;
}

#tours tbody tr td:first-child {
  line-height: auto;
}

#tours tbody tr td:first-child span {
  font-size: 11px;
  text-transform: uppercase;
}

#tours tbody tr td:first-child strong {
  color: #232322;
  font-size: 20px;
  font-weight: 300;
  display: block;
}

#discography h1 {
  color: #232322;
  font-size: 28px;
  margin: 0 0 27px;
  text-align: center;
}

#discography h1 img {
  margin: 0 10px;
  vertical-align: middle;
}

.album {
  padding: 50px 0 50px 0;
  overflow: hidden;
}

.album:first-of-type {
  padding-top: 23px;
}

.album:nth-of-type(even) {
  background: url(../images/background-alt.png);
}

.album h2 {
  color: #6d1b21;
  font-size: 20px;
  margin: 0 0 24px 0;
}

.album .cover {
  float: left;
  margin: 40px 0 0 0;
  width: 160px;
}

.album ol {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
}

.album li {
  border-bottom: 1px solid #e5e3e0;
  border-color: rgba(203, 202, 197, .42);
  list-style: none;
  width: 240px;
}

.album h3 {
  color: #232322;
  font-size: 14px;
  margin: 10px 0 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
  white-space: nowrap;
}

.album p {
  color: #a29f9a;
  font-size: 12px;
  margin: 0 0 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
  white-space: nowrap;
}

#downloads h1 {
  color: #232322;
  font-size: 28px;
  margin: 0 0 27px;
  text-align: center;
}

#downloads h1 img {
  margin: 0 10px;
  vertical-align: middle;
}

#downloads nav {
  margin-bottom: 50px;
  text-align: center;
}

#downloads nav ol {
  margin: 0;
  padding: 0;
}

#downloads nav li {
  display: inline;
  list-style: none;
}

#downloads nav a {
  background: #fdfcfc;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #b2afa0;
  display: inline-block;
  font-size: 14px;
  line-height: 45px;
  margin: 0 9px;
  text-align: center;
  text-decoration: none;
  width: 300px;
}

#downloads nav a.active {
  background: #fff;
  border-color: #e8e6e2;
  color: #6d1a22;
}

ol#videos,
ol#photos {
  margin: 0 -10px 50px -10px;
  padding: 0;
  overflow: hidden;
  width: 960px;
}

ol#videos li,
ol#photos li {
  float: left;
  list-style: none;
  margin: 0 10px 27px 10px;
  width: 220px;
}

ol#videos a,
ol#photos a {
  position: relative;
}

ol#videos a .play,
ol#photos a .zoom {
  background: url(../images/play.png);
  display: none;
  height: 45px;
  left: 88px;
  position: absolute;
  top: 39px;
  width: 45px;
}

ol#videos a:hover .play,
ol#photos a:hover .zoom {
  display: block;
}

ol#videos a:active .play,
ol#photos a:active .zoom {
  display: block;
  top: 41px;
}

ol#videos img,
ol#photos img {
  border-radius: 5px;
  margin-bottom: 10px;
  vertical-align: top;
}

ol#videos p,
ol#photos p {
  color: #9a9892;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

ol#videos span {
  margin-right: 4px; /* because of template whitespace, originally: 8px */
}

ol#videos em,
ol#photos em {
  background: rgba(192, 190, 186, .59);
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  line-height: 20px;
  margin: 2px 0 2px 0;
  padding: 3px 4px;
  text-transform: uppercase;
  vertical-align: middle;
}

ol#photos a .zoom {
  background: url(../images/zoom.png);
  height: 42px;
  left: 89px;
  top: 40px;
  width: 42px;
}

ol#photos a:active .zoom {
  top: 42px;
}

#contact {
  background: rgba(46, 44, 38, .4);
  height: 100%;
  left: 0;
  position: fixed;
  margin: 0 auto;
  overflow: auto;
  overflow-y: auto;
  top: 0;
  width: 100%;
  z-index: 100;
}

#contact #modal {
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  left: 50%;
  margin-left: -230px;
  margin-top: -255px;
  position: absolute;
  top: 50%;
  width: 460px;
}

#contact #modal.mandrill-error {
  margin-top: -88px;
}

#contact h1 {
  background: #2e2c26;
  border-radius: 5px 5px 0 0;
  color: #ddcfa9;
  font-size: 16px;
  line-height: 57px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

#contact h1 img {
  margin: 0 6px;
  vertical-align: middle;
}

#contact #modal-content {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 34px 30px 30px 30px;
  overflow: hidden;
}

#contact input::-webkit-input-placeholder,
#contact input:-moz-placeholder,
#contact input:-ms-input-placeholder {
  color: #9a9892;
}

#contact input,
#contact textarea {
  background: #fbfbfa;
  border: 1px solid #dfdfde;
  border-radius: 5px;
  clear: both;
  color: #232322;
  display: block;
  font-size: 14px;
  margin-bottom: 18px;
  width: 368px;
}

#contact input:hover,
#contact textarea:hover,
#contact input:focus,
#contact textarea:focus {
  background: #fff;
  border-color: #c6c5c3;
}

#contact input {
  line-height: 30px;
  padding: 6px 15px;
  vertical-align: middle;
}

#contact textarea {
  line-height: 22px;
  min-height: 120px;
  padding: 12px 15px;
  resize: vertical;
}

#contact button {
  background: #fff;
  border: 2px solid #e1e1e0;
  border-radius: 5px;
  clear: both;
  color: #6d1a22;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 36px;
  padding: 0 20px;
  text-transform: uppercase;
}

#contact button:hover {
  background: #fbfbfa;
  color: #232322;
}

#contact button:active {
  margin-top: 1px;
}

#contact p {
  color: #7c7870;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

#contact a {
  color: #6d1b21;
}

.mfp-bg {
  background: rgba(46, 44, 38, .4);
  opacity: 1;
}

.mfp-figure:after,
.mfp-iframe-scaler iframe {
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
}
