html {
  background: #f8f7f4 url(../images/background.png);
}

.container {
  margin: 0 auto;
  width: 940px;
}

header {
  background: url(../images/header.png);
  height: 72px;
  margin: 32px 0 60px 0;
  text-align: center;
}

header ul {
  margin: 0;
}

header li {
  display: inline;
  margin: 0 15px;
  line-height: 72px;
  list-style: none;
}

header a {
  color: #b2afa9;
  text-decoration: none;
}

header a.active {
  color: #000;
}

header img {
  margin-top: -22px;
  vertical-align: top;
}

footer {
  background: #b2afa9;
  clear: both;
  font-size: 14px;
  overflow: hidden;
}

footer ul {
  float: left;
  margin: 0;
}

footer li {
  float: left;
  list-style: none;
  margin: 0 19px 0 0;
}

footer a {
  color: #d9d7d3;
  line-height: 62px;
  text-decoration: none;
}

footer a.active {
  color: #fff;
}

footer p {
  color: #d9d7d3;
  float: right;
  line-height: 62px;
  margin: 0;
}

#discography h1 {
  color: #232322;
  font-size: 28px;
  margin: 0 0 27px;
  text-align: center;
}

#discography h1 img {
  margin: 0 10px;
  vertical-align: middle;
}

.album {
  padding: 50px 0 50px 0;
  overflow: hidden;
}

.album:first-of-type {
  padding-top: 23px;
}

.album:nth-of-type(even) {
  background: url(../images/background-alt.png);
}

.album h2 {
  color: #6d1b21;
  font-size: 20px;
  margin: 0 0 24px 0;
}

.album .cover {
  float: left;
  margin: 40px 0 0 0;
  width: 160px;
}

.album ol {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
}

.album li {
  border-bottom: 1px solid #e5e3e0;
  border-color: rgba(203, 202, 197, .42);
  list-style: none;
  width: 240px;
}

.album h3 {
  color: #232322;
  font-size: 14px;
  margin: 10px 0 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
  white-space: nowrap;
}

.album p {
  color: #a29f9a;
  font-size: 12px;
  margin: 0 0 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
  white-space: nowrap;
}

#downloads h1 {
  color: #232322;
  font-size: 28px;
  margin: 0 0 27px;
  text-align: center;
}

#downloads h1 img {
  margin: 0 10px;
  vertical-align: middle;
}

#downloads nav {
  margin-bottom: 50px;
  text-align: center;
}

#downloads nav li {
  display: inline;
  list-style: none;
}

#downloads nav a {
  background: #fdfcfc;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #b2afa0;
  display: inline-block;
  font-size: 14px;
  line-height: 45px;
  margin: 0 9px;
  text-align: center;
  text-decoration: none;
  width: 300px;
}

#downloads nav a.active {
  background: #fff;
  border-color: #e8e6e2;
  color: #6d1a22;
}

ol#videos {
  margin: 0 -10px 50px -10px;
  padding: 0;
  overflow: hidden;
  width: 960px;
}

ol#videos li {
  float: left;
  list-style: none;
  margin: 0 10px 27px 10px;
  width: 220px;
}

ol#videos a {
  position: relative;
}

ol#videos a .play {
  background: 50% 50% url(../images/play.png) no-repeat;
  display: none;
  height: 45px;
  left: 88px;
  position: absolute;
  top: 39px;
  width: 45px;
}

ol#videos a:hover .play {
  display: block;
}

ol#videos a:active .play {
  display: block;
  top: 41px;
}

ol#videos img {
  border-radius: 5px;
  margin-bottom: 10px;
  vertical-align: top;
}

ol#videos p {
  color: #9a9892;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

ol#videos em {
  background: rgba(192, 190, 186, .59);
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  line-height: 20px;
  margin: 2px 0 2px 8px;
  padding: 3px 4px;
  text-transform: uppercase;
  vertical-align: middle;
}

#contact {
  background: rgba(46, 44, 38, .4);
  height: 100%;
  left: 0;
  position: fixed;
  margin: 0 auto;
  overflow: auto;
  overflow-y: auto;
  top: 0;
  width: 100%;
  z-index: 100;
}

#contact #modal {
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  left: 50%;
  margin-left: -230px;
  position: absolute;
  top: 270px;
  width: 460px;
}

#contact h1 {
  background: #2e2c26;
  border-radius: 5px 5px 0 0;
  color: #ddcfa9;
  font-size: 16px;
  line-height: 57px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

#contact h1 img {
  margin: 0 6px;
  vertical-align: middle;
}

#contact form {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 34px 30px 30px 30px;
  overflow: hidden;
}

#contact input,
#contact textarea {
  background: #fbfbfa;
  border: 1px solid #dfdfde;
  border-radius: 5px;
  color: #9a9892;
  clear: both;
  display: block;
  font-size: 14px;
  margin-bottom: 18px;
  width: 368px;
}

#contact input:hover,
#contact textarea:hover,
#contact input:focus,
#contact textarea:focus {
  background: #fff;
  border-color: #c6c5c3;
  color: #232322;
}

#contact input {
  line-height: 30px;
  padding: 6px 15px;
  vertical-align: middle;
}

#contact textarea {
  line-height: 22px;
  min-height: 120px;
  padding: 12px 15px;
  resize: vertical;
}

#contact button {
  background: #fff;
  border: 2px solid #e1e1e0;
  border-radius: 5px;
  clear: both;
  color: #6d1a22;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 36px;
  padding: 0 20px;
  text-transform: uppercase;
}

#contact button:hover {
  background: #fbfbfa;
}

#contact button:active {
  margin-top: 1px;
}
